.splash-overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: radial-gradient(
    circle at 50% 50%,
    #5f8ae0,
    #091f4d,
    #08081b,
    #000000
  );
  background-size: 300% 200%;
}

.splash-overlay::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(21, 22, 39, 0.607);
  z-index: -1;
}

/* TITLE */

.splash-title {
  position: relative;
  z-index: 1;

  font-family: serif;
  font-size: clamp(2.4rem, 5vw, 4.2rem);
  letter-spacing: 0.45em;
  text-transform: uppercase;
  color: #e6e9f2;

  margin-bottom: 3.5rem;

  text-shadow:
    0 10px 40px rgba(0, 0, 0, 0.9),
    0 0 60px rgba(180, 200, 255, 0.15);

  opacity: 0;
}

/* CANVAS */

canvas {
  position: relative;
  z-index: 1;
}
